body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#gdpr-consent-banner,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gdpr-consent-banner {
  display: none;
  background-color: #f4f4f4;
  padding: 1rem;
  position: fixed;
  max-width: 100%;
  bottom: 0;
}

#cta-button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

section {
  margin: 1rem 0;
}

p {
  font-size: larger;
}

#accept-cookies {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#refuse-cookies {
  background-color: #f44336;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirmation-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 20px;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeInOut 3s;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}
